* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b505e;
}

div#page-content {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

#logo-and-background {
    position: relative;
    width: 35%;
    background-image: url("./wil-stewart-T26KCgCPsCI-unsplash.jpg");
    background-size: cover;
}

#logo {
    position: absolute;
    top: 7.5rem;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
}

#logo img {
    width: 75px;
}

.logo-text {
    font-size: 4rem;
    font-family: "Lora", serif;
    font-weight: 900;
    color: #f3f7f8;
}

#credit {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    text-align: center;
    color: #f3f7f8;
}

#form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #2b505e;
    background-color: #f3f7f8;
}

.input-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.input-container div {
    width: 35%;
}

.form-box {
    margin: 1rem 0 1.5rem;
    padding: 1rem 0;
    background-color: #fff;
    box-shadow: 0 4px 8px #103642;
}

input {
    width: 100%;
    padding: 4px;
    border: 2px solid #103642;
}

label {
    font-size: 13px;
}

.bold {
    font-weight: 800;
    font-size: 16px;
}

p,
.input-container,
button {
    margin-left: 2rem;
}

button {
    padding: 6px 12px;
    background-color: #2b505e;
    color: #f3f7f8;
    border: none;
    border-radius: 8px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: #103642;
}